<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>my cute webpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>

<body>
    <header>
        <h1>Welcome to my website.</h1>
    </header>

    <div class="main-content">
        <p>This is the <emp>best</emp> <code>website</code> in the <strong>entire world</strong></p>
        <p>This <a href="https://www.w3.org/People/Berners-Lee/">dude</a> made the web. Shoutout to him.</p>
        <p>He is bald.</p>
        <img alt="image of Tim Berner's Lee" src="{{ url_for('static', filename='img/tim.png') }}">
    </div>

    <h1> See some cools shits here </h1>
    <div class="nav-menu">
        <li>
            <a href="{{ url_for('site_map') }}"> Site Map </a>
        </li>
        <li>
            <a href="{{ url_for('static', filename='/pages/canvas.html') }}"> Go Balls </a>
        </li>
    </div>
</body>
</html>