.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button {
    width: 100px;
}

.parent {
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

div.child {
  border: 1px solid red;
  margin: 10px;
  padding: 5px;
  width: 80px;
  height: 60px;
  box-sizing: border-box;
}